[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
arrow = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
geoalchemy2 = "*"
shapely = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
